{% from "_Image.html.twig" import Image %}
{% from "_Text.html.twig" import Text %}

<section>
  <div class="flex flex-col gap-8 justify-between md:flex-row">
    <div class="flex gap-4 items-center justify-between md:flex-col md:order-last">
      <a class="relative group flex-shrink-0 block" href="{{ data.bio.avatar.link }}">
        {{ Image({
          classes: "md:w-32 rounded-full w-12",
          filename: data.bio.avatar.filename,
          imgixConfig: {
            ar: "1:1",
            fit: "crop",
            w: 160,
          },
        }) }}

        {{ Image({
          classes: "absolute focus:opacity-100 hover:opacity-100 inset-0 opacity-0 rounded-full transition-opacity",
          filename: data.bio.avatar.hoverFilename,
          imgixConfig: {
            ar: "1:1",
            fit: "crop",
            w: 160,
          },
        }) }}
      </a>

      <div class="flex gap-4 items-center md:flex-col md:order-last">
        <div>
          <h2 class="sr-only">Social links</h2>

          <ul class="flex gap-4 items-center justify-center list-none md:flex-col">
            {% for link in data.bio.socialLinks %}
              <li>
                <a href={{ link.href }}>
                  <span class="sr-only">{{ link.platform }}</span>
                  
                  <span
                    class="block focus:text-link hover:text-link transition-colors w-12"
                    aria-hidden="true"
                  >
                    {% include "_" ~ link.platform ~ ".svg.twig" %}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        
        <a
          class="block md:underline no-underline"
          href="maillto:olets@olets.dev"
        >
          <span class="sr-only">email</span>

          <span class="hidden md:block">olets@olets.dev</span>

          <span class="md:hidden text-5xl">✉️</span>
        </a>
      </div>
    </div>

    <div class="flex-grow">
      <h1 class="heading-1">Henry <span class='whitespace-nowrap'>Bley-Vroman</span></h1>

      <div class="mt-8">
        {{ Text({
          content: data.bio.summary|raw,
        }) }}
      </div>
    </div>
  </div>
</section>