{% macro Card(props = {}) %}
  {% set props = {
    imageFilename: null,
    description: null,
    link: null,
    title: null,
  }|merge(props) %}

  {% from "_Image.html.twig" import Image %}

  {% if props.title %}
    <article class="group relative">
      {% if props.link %}
        <a
          class="absolute focus:outline-none inset-0 peer rounded-2xl"
          href="{{ props.link }}"
        >
          <div class="sr-only">{{ props.title }}</div>
        </a>
      {% endif %}

      {% set classes %}
        aspect-card border w-full rounded-t-2xl shadow transition-shadow ring-offset-2
        peer-focus:ring peer-hover:ring
        {{ props.description ? 'rounded-b-md' : 'rounded-b-2xl' }}
      {% endset %}

      {{ Image({
        classes: classes,
        filename: props.imageFilename,
        imgixConfig: {
          ar: "1280:640",
          fit: "crop",
          w: 700,
        },
      }) }}

      {% if props.description %}
        <div class="
          bg-white mt-3 rounded-t-md rounded-b-2xl transition underline
          peer-focus:text-link
          peer-hover:text-link
        ">
          {% if props.title|length %}
            <em
              aria-hidden="true"
              class="block font-semibold"
            >
              <span>{{ props.title }}</span>
            </em>
          {% endif %}

          {{ props.description|length ? props.description }}
        </div>
      {% endif %}
    </article>
  {% endif %}
{% endmacro %}