{% macro Section(props = {}) %}
  {% set props = {
    details: null,
    items: [],
    heading: null,
    headingLevel: 2,
    summary: null,
  } | merge(props) %}

  {% from "_Card.html.twig" import Card %}

  <section>
    <div class="flex justify-between">
      <h{{ props.headingLevel }} class="
        font-serif text-7xl
        lg:text-9xl
      ">
        {{ props.heading }}
      </h{{ props.headingLevel }}>

      <div>{{ props.details|raw }}</div>
    </div>

    {% if props.summary|length %}
      <div class="space-y-4 mt-8">
        <p>{{ props.summary }}</p>
      </div>
    {% endif %}
    
    <div class="gap-6 grid grid-cols-12 mt-8">
      {# <div class="
        col-span-full flex font-serif text-7xl
        lg:col-span-7 lg:items-center lg:justify-center lg:text-9xl
      ">
        {{ props.heading }}
      </div>

      <div class="
        col-span-full space-y-3
        lg:col-span-5
      ">
        {% if props.summary|length %}
          <div class="mb-8 space-y-8">
            <p>{{ props.summary|replace({'\n': '</p><p>'})|raw }}</p>
          </div>
        {% endif %}
      </div> #}

      {% for card in props.items %}
        <div class="col-span-full sm:col-span-6 lg:col-span-4 xl:col-span-3">
          {{ Card(card) }}
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}